.wrapper {
  color: #666;
  width: 550px;
  margin: 50px auto 0;
  font-family: "Aktiv Grotesk", -apple-system, BlinkMacSystemFont,
    "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.weather-wrapper {
  background-color: #fbfbfc;
  padding: 24px;
  border-radius: 10px;
}

.header {
  margin: 32px 0;
}

.search {
  position: relative;
  width: 70%;
}

.search-input {
  background-color: transparent;
  border: 2px solid #cccccc;
  border-radius: 10px;
  color: #666;
  padding: 6px 42px 6px 6px;
  font-size: 20px;
  width: 100%;
}

.search-icon {
  color: #cccccc;
  font-size: 28px;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
}

.submit {
  background-color: transparent;
  border: 2px solid #cccccc;
  border-radius: 10px;
  color: #666;
  display: block;
  font-size: 20px;
  padding: 6px 24px;
  margin-left: 12px;
}

.weather-today {
  padding: 0 40px 0 20px;
  margin-bottom: 40px;
}

.city {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sky {
  text-transform: uppercase;
}

.open-source {
  margin-top: 0;
  padding: 20px;
}

.units > a {
  color: #666;
  text-decoration: none;
}

.active {
  color: blue !important;
}
